<!-- header.html -->
<header class="header">
	<div class="container">
		<div class="row">
			<a href="#" class="logo">
				<img src="img/logo.svg" alt="logo" class="logo-img">
			</a>
			<div class="header-right">
				<a href="#" class="investigation">
					<img src="img/slidstvo-logo.svg" alt="investigation" class="investigation-img">
				</a>
				<div class="socials">
					<a href="#" class="social">
						<img src="img/social/twitter.svg" alt="twitter" class="social-img">
					</a>
					<a href="#" class="social">
						<img src="img/social/fb.svg" alt="facebook" class="social-img">
					</a>
					<a href="#" class="social">
						<img src="img/social/youtube.svg" alt="youtube" class="social-img">
					</a>
					<a href="#" class="social">
						<img src="img/social/instagram.svg" alt="instagram" class="social-img">
					</a>
					<a href="#" class="social">
						<img src="img/social/telegram.svg" alt="telegram" class="social-img">
					</a>
				</div>
			</div>
		</div>

	</div>
</header>
